.footer {
    min-height: 96px;
    background: #333A44;
    @include phone__media {
        width: 375px;
        height: 438px;
    }
}

.fa-brands {
    width: 24px;
height: 24px;
margin-right: 24px;
color: #FCB72B;
margin-top: 10px;
}

.footer-nav {
    padding-top: 25px;
    @include phone__media {
        display: block;
    }
}

.nav__footer {
    @include phone__media {
        display: block;
        position: relative;
        top: 80px;
        right: 20px;
    }
}

.footer__icons {
    @include phone__media {
        position: relative;
    top: 180px;
    left: 80px;
    }
}