@import "./fonts";
@import "./variables";
@import "./mixin";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
  }

  .container {
    max-width: 1440px;
    padding: 0 165px;
    width: 100%;
    margin: 0 auto;
  }

  .container {
    @include tablet__media {
        padding: 0 97px;
        max-width: 768px;
    }
    @include phone__media {
        padding: 0 32px;
    }
}


@import "./all-blocks/all-block";