@font-face {
  font-family: "LexendDeca";
  src: url(../../font/LexendDeca-Regular.ttf);
}
@font-face {
  font-family: "SpaceMono";
  src: url(../../font/SpaceMono-Regular.ttf);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}

.container {
  max-width: 1440px;
  padding: 0 165px;
  width: 100%;
  margin: 0 auto;
}

@media (max-width: 768px) {
  .container {
    padding: 0 40px;
    max-width: 768px;
  }
}
@media (max-width: 576px) {
  .container {
    padding: 0 32px;
  }
}

.header__nav {
  display: flex;
  justify-content: space-between;
  margin-top: 22px;
}
@media (max-width: 576px) {
  .header__nav {
    display: block;
  }
}

.nav {
  display: flex;
  justify-content: space-between;
}
@media (max-width: 576px) {
  .nav {
    display: none;
  }
}
@media (max-width: 576px) {
  .nav__item {
    margin-top: 16px;
  }
}
.nav__link {
  font-family: "SpaceMono";
  font-style: normal;
  font-weight: 700;
  font-size: 15px;
  line-height: 25px;
  color: #939CAA;
  margin-right: 32px;
}

.btn {
  padding: 14px 39px;
  font-family: "SpaceMono";
  font-style: normal;
  font-weight: 700;
  font-size: 15px;
  line-height: 25px;
  text-align: center;
  color: #FFFFFF;
  background: #FCB72B;
  border: none;
  cursor: pointer;
  margin-top: 8px;
  transition: 0.3s;
  border: 1px solid transparent;
}
@media (max-width: 576px) {
  .btn__none {
    display: none;
  }
}

.btn:hover {
  background-color: #FFFFFF;
  color: #FCB72B;
  border: 1px solid #FCB72B;
}

.menu__wrapper {
  display: flex;
  align-items: center;
  gap: 58px;
}

@media (max-width: 768px) {
  .container {
    padding: 0 40px;
    max-width: 768px;
  }
}
@media (max-width: 576px) {
  .container {
    padding: 0 32px;
  }
}

@media (max-width: 576px) {
  .logo {
    width: 75.5px;
    height: 20px;
    position: relative;
    left: 100px;
  }
}

.hero {
  background-image: url(../../public/img/hero-bg.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 100vh;
  margin-top: 21px;
}
@media (max-width: 768px) {
  .hero {
    background-image: url(../../public/img/tabler-hero-bg.jpg);
  }
}
@media (max-width: 576px) {
  .hero {
    background-image: url(../../public/img/phone-hero-bg.png);
  }
}
.hero__title {
  font-family: "SpaceMono";
  font-weight: 700;
  font-size: 56px;
  line-height: 56px;
  letter-spacing: -2.5px;
  color: #FFFFFF;
  max-width: 500px;
  padding-top: 153px;
}
@media (max-width: 768px) {
  .hero__title {
    text-align: center;
    padding-top: 137px;
  }
}
@media (max-width: 576px) {
  .hero__title {
    width: 311px;
    font-size: 40px;
    line-height: 40px;
    letter-spacing: -1.78571px;
    padding-top: 115px;
  }
}
.hero__text {
  font-family: "LexendDeca";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 25px;
  color: #FFFFFF;
  margin-top: 40px;
}
@media (max-width: 768px) {
  .hero__text {
    margin-top: 24px;
    text-align: center;
  }
}
@media (max-width: 576px) {
  .hero__text {
    font-size: 15px;
    line-height: 25px;
    margin-top: 10px;
  }
}
.hero__btn {
  margin-top: 40px;
}
@media (max-width: 768px) {
  .hero__btn {
    margin-top: 32px;
    text-align: center;
    position: relative;
    top: 50%;
    left: 35%;
  }
}
@media (max-width: 576px) {
  .hero__btn {
    margin-top: 26px;
    left: 20%;
  }
}

.services {
  padding-top: 160px;
}
@media (max-width: 768px) {
  .services {
    padding-top: 122px;
  }
}
.services__line {
  position: relative;
  top: 40px;
  z-index: -1;
}
@media (max-width: 768px) {
  .services__line {
    rotate: 90deg;
    right: 360px;
    top: -50px;
  }
}
@media (max-width: 576px) {
  .services__line {
    display: none;
  }
}
.services__wrapper {
  display: flex;
}
@media (max-width: 768px) {
  .services__wrapper {
    display: block;
  }
}

.services__box {
  margin-right: 30px;
}
@media (max-width: 768px) {
  .services__box {
    display: flex;
    justify-content: space-between;
  }
}
@media (max-width: 576px) {
  .services__box {
    display: block;
    margin-right: 0;
    margin-bottom: 48px;
  }
}
.services__box--title {
  font-family: "SpaceMono";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  letter-spacing: -1.07143px;
  color: #495567;
  margin-top: 40px;
}
@media (max-width: 768px) {
  .services__box--title {
    margin-left: 79px;
  }
}
@media (max-width: 576px) {
  .services__box--title {
    font-size: 20px;
    line-height: 28px;
    letter-spacing: -0.892857px;
    text-align: center;
    width: 311px;
    margin-left: 0;
    margin-top: 24px;
  }
}
.services__box--subtitle {
  font-family: "LexendDeca";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 25px;
  color: #939CAA;
  width: 350px;
  margin-top: 27px;
}
@media (max-width: 768px) {
  .services__box--subtitle {
    width: 398px;
    margin-left: 79px;
  }
}
@media (max-width: 576px) {
  .services__box--subtitle {
    margin-top: 24px;
    width: 311px;
    text-align: center;
    margin-top: 24px;
    margin-left: 0;
  }
}

.services__icon {
  width: 56px;
  height: 56px;
}
@media (max-width: 768px) {
  .services__icon {
    position: relative;
    left: 58px;
    top: 45px;
  }
}
@media (max-width: 576px) {
  .services__icon {
    position: relative;
    left: 130px;
    top: 0;
  }
}

.benefits {
  margin-top: 150px;
}

.benefits__title {
  font-family: "SpaceMono";
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 48px;
  letter-spacing: -2.14286px;
  color: #495567;
  width: 445px;
}
@media (max-width: 768px) {
  .benefits__title {
    text-align: center;
  }
}
@media (max-width: 576px) {
  .benefits__title {
    font-size: 32px;
    line-height: 32px;
    letter-spacing: -1.42857px;
  }
}

.benefits__subtitle {
  font-family: "LexendDeca";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 25px;
  color: #939CAA;
  width: 445px;
  margin-top: 24px;
}
@media (max-width: 768px) {
  .benefits__subtitle {
    text-align: center;
  }
}
@media (max-width: 576px) {
  .benefits__subtitle {
    width: 311px;
    position: relative;
    left: 60px;
  }
}

.benefitd__btn {
  margin-top: 40px;
}
@media (max-width: 768px) {
  .benefitd__btn {
    position: relative;
    left: 150px;
  }
}

.benefits__wrapper {
  display: flex;
  margin-top: 168px;
  align-items: center;
}
@media (max-width: 768px) {
  .benefits__wrapper {
    flex-direction: column;
  }
}

@media (max-width: 768px) {
  .benefits__img {
    left: 200px;
  }
}
@media (max-width: 576px) {
  .benefits__img {
    right: -10px;
  }
}

.benefits__img2 {
  position: relative;
  right: 210px;
}
@media (max-width: 768px) {
  .benefits__img2 {
    right: -10px;
  }
}

.benefits__img3 {
  position: relative;
  left: 259.9px;
}

.benefits-margin {
  position: relative;
  left: 110px;
}

.benefits-tablet {
  display: none;
}
@media (max-width: 768px) {
  .benefits-tablet {
    display: block;
  }
}

@media (max-width: 768px) {
  .dur {
    display: none;
  }
}

@media (max-width: 768px) {
  .benefits__wrapper img {
    margin-bottom: 56px;
  }
}

@media (max-width: 768px) {
  .benefits-margin1 {
    position: relative;
    left: 200px;
  }
}

@media (max-width: 768px) {
  .wrapper-tablet {
    position: relative;
    right: 100px;
  }
}

@media (max-width: 768px) {
  .benefits__img-tablet {
    position: relative;
    left: 200px;
  }
}
@media (max-width: 576px) {
  .benefits__img-tablet {
    position: relative;
    right: 300px;
  }
}

.benefits__img3-tablet {
  position: relative;
  left: 270px;
}

.sign {
  background-image: url(../../public/img/sign-bg.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 50vh;
}
@media (max-width: 768px) {
  .sign {
    background-image: url(../../public/img/sign-in-tablet.png);
  }
}
@media (max-width: 576px) {
  .sign {
    background-image: url(../../public/img/sign-in-tablet.png);
  }
}

.sign__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media (max-width: 768px) {
  .sign__wrapper {
    display: block;
    text-align: center;
    position: relative;
    left: 200px;
  }
}
@media (max-width: 576px) {
  .sign__wrapper {
    left: 100px;
  }
}

.sign__title {
  font-family: "SpaceMono";
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 48px;
  letter-spacing: -2.14286px;
  color: #FFFFFF;
  width: 315px;
  margin-top: 102px;
}
@media (max-width: 576px) {
  .sign__title {
    font-size: 32px;
    line-height: 32px;
    text-align: center;
    letter-spacing: -1.42857px;
    max-width: 311px;
  }
}

.appstore {
  width: 159px;
  height: 56px;
  background: #E5ECF4;
  border-radius: 4px;
  padding: 9px 16px;
  display: flex;
  margin-right: 18px;
}
@media (max-width: 576px) {
  .appstore {
    width: 113.57px;
    height: 40px;
  }
}
.appstore__span {
  font-family: "SpaceMono";
  font-style: normal;
  font-weight: 700;
  font-size: 10px;
  line-height: 15px;
  letter-spacing: -0.446429px;
  color: #495567;
  margin-left: 12px;
}
@media (max-width: 576px) {
  .appstore__span {
    margin-left: 0;
    color: #495567;
    font-size: 8px;
    line-height: 10px;
    position: relative;
    bottom: 5px;
    text-align: start;
  }
}
.appstore__link {
  font-family: "Space Mono";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: -0.892857px;
  color: #495567;
  margin-left: 12px;
}
@media (max-width: 576px) {
  .appstore__link {
    font-size: 15px;
    line-height: 20px;
    margin-left: 0;
    position: relative;
    bottom: 10px;
  }
}

.apps {
  display: flex;
  position: relative;
  top: 70px;
}

@media (max-width: 768px) {
  .get-in-margin {
    position: relative;
    right: 25px;
  }
}
@media (max-width: 576px) {
  .get-in-margin {
    position: relative;
    right: 15px;
  }
}

.footer {
  min-height: 96px;
  background: #333A44;
}
@media (max-width: 576px) {
  .footer {
    width: 375px;
    height: 438px;
  }
}

.fa-brands {
  width: 24px;
  height: 24px;
  margin-right: 24px;
  color: #FCB72B;
  margin-top: 10px;
}

.footer-nav {
  padding-top: 25px;
}
@media (max-width: 576px) {
  .footer-nav {
    display: block;
  }
}

@media (max-width: 576px) {
  .nav__footer {
    display: block;
    position: relative;
    top: 80px;
    right: 20px;
  }
}

@media (max-width: 576px) {
  .footer__icons {
    position: relative;
    top: 180px;
    left: 80px;
  }
}/*# sourceMappingURL=main.css.map */